<ul class="post-group-item">
  <div class="item-left">
    <li class="image">
      <div class="frame-image">
        <%= image_tag post.compose_image, class: "content-image", width: "195", height: "260" %>
      </div>
    </li>
  </div>
  <div class="item-right">
    <li class="title">
      <%= "題名:" + post.title.truncate(10) %>
    </li>
    <li class="body">
      <%= post.body.truncate(50) %>
      <%= link_to "詳しく読む", post_path(post.id) %>
    </li>
    <li class="button">
      <%= render "posts/btn", post: post %>
    </li>
  </div>
</ul>