<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h1>ユーザー情報を編集する</h1>
    <%= form_with model:@user do |f| %>
      <p><%= f.label :name , "Name"%></p>
      <p><%= f.text_field :name %></p>
      <p><%= f.label :email , "Email"%></p>
      <p><%= f.email_field :email %></p>
      <p><%= f.submit "更新する", class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>
