<h3 class="page-header">自分の投稿</h3>
<ul class="post-group">
  <% @posts.each do |post| %>
    <ul class="post-group-item">
      <div class="item-left">
        <li class="image">
          <div class="frame-image">
            <%= image_tag("額縁.png", alt: "額縁", class: "frame-inner-image") %>
            <%= image_tag(post.image_url, size:"120x160",class: "content-image") if post.image? %>
          </div>
        </li>
      </div>
      <div class="item-right">
        <li class="title">
          <%= "title:" + post.title.truncate(10) %>
        </li>
        <li class="body">
          <%= post.body.truncate(50) %>
          <%= link_to "詳しく読む", post_path(post.id) %>
        </li>
        <li class="button">
          <%= render "posts/btn", post: post %>
        </li>
      </div>
    </ul>
  <% end %>
</ul>

<h3 class="page-header">共感したもの<%= link_to "共感した感情ごとに見る",empathy_users_path%></h3> <!--投稿が横並び/スライドになるように変更する-->
<ul class="post-group">
  <% @post_empathy.each do |empathy| %>
    <ul class="post-group-item">
      <div class="item-left">
        <li class="image">
          <div class="frame-image">
            <%= image_tag("額縁.png", alt: "額縁", class: "frame-inner-image") %>
            <%= image_tag empathy.post.image.url, size:"120x160",class: "content-image"%>
          </div>
        </li>
      </div>
      <div class="item-right">
        <li class="title">
          <%= "title:" + empathy.post.title.truncate(10) %>
        </li>
        <li class="body">
          <%= empathy.post.body.truncate(50) %>
          <%= link_to "詳しく読む", post_path(empathy.post.id) %>
        </li>
        <li class="button">
          <%= render "posts/btn", post: empathy.post %>
        </li>
      </div>
    </ul>
  <% end %>
</ul>





<h3 class="page-header">下書き</h3>
<ul class="post-group">
  <% @post_draft.each do |post| %>
    <ul class="post-group-item">
      <div class="item-left">
        <li class="image">
          <div class="frame-image">
            <%= image_tag("額縁.png", alt: "額縁", class: "frame-inner-image") %>
            <%= image_tag(post.image_url, size:"120x160",class: "content-image") if post.image? %>
          </div>
        </li>
      </div>
      <div class="item-right">
        <li class="title">
          <%= "title:" + post.title.truncate(10) %>
        </li>
        <li class="body">
          <%= post.body.truncate(50) %>
          <%= link_to "詳しく読む", post_path(post.id) %>
        </li>
        <li class="button">
          <%= render "posts/btn", post: post %>
        </li>
      </div>
    </ul>
  <% end %>
</ul>