<h3 class="page-header">自分の投稿</h3>
<ul class="post-group">
  <% @posts.each do |post| %>
    <ul class="post-group-item">
      <div class="item-left">
        <li class="image">
          <div class="frame-image">
            <%= image_tag(post.image_url, size:"120x160",class:"content-image")%>
          </div>
        </li>
      </div>
      <div class="item-right">
        <li class="title">
          <%="題名:" + post.title.truncate(15)%>
        </li>
        <li class="body">
          <%= post.body.truncate(100)%>
          <%= link_to "詳しく読む", post_path(post.id) %>
        </li>
        <li class="button">
          <%= render "posts/btn", post: post %>
        </li>
      </div>
    </ul>
  <% end %>
</ul>

<h3 class="page-header">共感したもの<%= button_to "絵文字ごとに見る",empathy_users_path, class: "btn btn-primary"%></h3> <!--投稿が横並び/スライドになるように変更する-->
<ul class="post-group">
  <% @post_empathy.each do |empathy| %>
    <ul class="post-group-item">
      <div class="item-left">
        <li class="image">
          <div class="frame-image">
            <%= image_tag empathy.post.image.url, size:"120x160",class: "content-image"%>
          </div>
        </li>
      </div>
      <div class="item-right">
        <li class="title">
          <%= "題名:" + empathy.post.title.truncate(10) %>
        </li>
        <li class="body">
          <%= empathy.post.body.truncate(50) %>
          <%= link_to "詳しく読む", post_path(empathy.post.id) %>
        </li>
        <li class="button">
          <%= render "posts/btn", post: empathy.post %>
        </li>
      </div>
    </ul>
  <% end %>
</ul>
<h3 class="page-header">下書き<%=button_to "下書き一覧を見る", draft_posts_path, method: :get, class: "btn btn-primary"%></h3>
<ul class="post-group">
  <% @post_draft.each do |post| %>
    <ul class="post-group-item">
      <div class="item-left">
        <li class="image">
          <div class="frame-image">
            <%= image_tag(post.image_url, size:"120x160",class: "content-image") if post.image? %>
          </div>
        </li>
      </div>
      <div class="item-right">
        <li class="title">
          <%= "題名:" + post.title.truncate(10) %>
        </li>
        <li class="body">
          <%= post.body.truncate(50) %>
          <%= link_to "全文を読む", post_path(post.id) %>
        </li>
        <li class="button">
          <%=link_to "この投稿を編集する", edit_post_path(post), method: :get%>
        </li>
      </div>
    </ul>
  <% end %>
</ul>