<h2><%= @user.email %></h2>
<br>
<p><%= link_to "自分の投稿を確認する","#" %></p>
<p><%= link_to "下書きを編集する","#" %></p>
<p><%= link_to "共感を確認する","#" %></p>
<p><%= link_to "ユーザー情報を編集する",edit_user_path(current_user) %></p>