<nav class="navbar navbar-dark bg-dark">
  <ul class="nav navbar-nav navbar-right">
  <%= link_to "museum-app","/", class: "navbar-brand" %>
    <% if logged_in? %>
    <li><%= link_to @current_user.email + "さんでログイン中"%></li>
    <li><%= link_to "ログアウト",logout_path, method: :delete, data: { turbo_method: :delete } %></li>
    <% else %>
    <li><%= link_to "ログイン",login_path %></li>
      <li><%= link_to "新規登録",new_user_path %></li>
      <% end %>
  </ul>
</nav>



