<div class="wrap">
  <ul class="slideshow">
    <%= (1..10).map do |num| %>
      <li class="content">
        <%= image_tag "photo#{num}.jpg", class: 'slide-image' %>
        <%= image_tag "image#{num}.jpg", class: 'slide-image' %>
        <%= image_tag "graph#{num}.jpg", class: 'slide-image' %>
      </li>
    <% end %>
  </ul>
  <div class="fixed-text">
    <p>あなただけの美術館を作ろう</p>
    <%=button_to "ゲストログイン", guest_login_path, method: :post %>

  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted"><%= render "shared/footer" %></p>
  </div>
</footer>