<% content_for :js do %>
  <%= javascript_import_module_tag "slideshow/endless" %>
<% end %>

<div class="wrap">
  <ul class="slideshow" data-controller="slideshow" id="slideshow">
    <% (1..3).each do |num| %>
      <li class="content" data-slideshow-target="content">
        <%= image_tag "photo#{num}.jpg", class: 'slide-image' %>
        <%= image_tag "image#{num}.jpg", class: 'slide-image' %>
        <%= image_tag "graph#{num}.jpg", class: 'slide-image' %>
      </li>
    <% end %>
  </ul>
  <div class="fixed-text">
    <p>【みなさまへ】</p>
    <p>こちらは光り輝くあなたの「推し」を絵画のように飾り展示する美術館です。</p>
    <p>4000字で「推しポイント」を熱弁できるので、思う存分推してください。</p>
    <p>【鑑賞時のご案内】</p>
    <p>展示作品には😀😢😍😤の絵文字ボタンがあります</p>
    <p>作品を読んで近い感情の絵文字で推してください</p>
    <%= button_to "ゲストログインをする", guest_login_path, method: :post %>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><%= render "shared/footer" %></p>
  </div>
</footer>