<table>
  <tr>
    <% emotions = [:happy, :sad, :love, :anger] %>
    <% emotions.each do |emotion| %>
      <td>
        <% if post.empathize_by?(current_user) %>
          <%= button_to post_empathy_path(post.id), method: :delete do %>
            <%= render_empathy_icon(emotion, post.id) %>
            <%= Empathy.where(empathy: emotion, post_id: post.id).count %>
          <% end %>
        <% else %>
          <%= button_to post_empathy_path(post.id), method: :post, params: { empathy: emotion } do %>
            <%= render_empathy_icon(emotion, post.id) %>
            <%= Empathy.where(empathy: emotion, post_id: post.id).count %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
<!--posts_helper参照-->