<% if post.empathize_by?(current_user) %>
  <%= link_to "#", method: :delete do %>
    <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= post.empathies.count %> いいね
  <% end %>
<% else %>
  <%= link_to "#", method: :post do %>
    <i class="fas fa-heart" aria-hidden="true"></i>
    <%= post.empathies.count %> いいね
  <% end %>
<% end %>


<tr>
  <td><%= link_to '😀',"#" , method: :post %></td>
  <td><%= Empathy.count%></td>
  <td><%= link_to '😭',"#" , method: :post %></td>
  <td><%= Empathy.count%></td>
  <td><%= link_to '😍',"#" , method: :post %></td>
  <td><%= Empathy.count%></td>
  <td><%= link_to '😤',"#" , method: :post %></td>
  <td><%= Empathy.count%></td>
</tr>
