<table>
<tr>
<td>
<% if post.empathize_by?(current_user) %>
  <%= button_to  post_empathy_path(post.id), method: :delete do%>
    😀<%= post.empathies.count %>
  <% end %>
<% else %>
  <%= button_to post_empathy_path(post.id), method: :post do %>
    😀<%= post.empathies.count %>
  <% end %>
<% end %>
</td>
<td>
<% if post.empathize_by?(current_user) %>
  <%= button_to  post_empathy_path(post.id), method: :delete do%>
    😢<%= post.empathies.count %>
  <% end %>
<% else %>
  <%= button_to post_empathy_path(post.id), method: :post do %>
    😢<%= post.empathies.count %>
  <% end %>
<% end %>
</td>
<td>
<% if post.empathize_by?(current_user) %>
  <%= button_to  post_empathy_path(post.id), method: :delete do%>
    😍<%= post.empathies.count %>
  <% end %>
<% else %>
  <%= button_to post_empathy_path(post.id), method: :post do %>
    😍<%= post.empathies.count %>
  <% end %>
<% end %>
</td>
<td>
<% if post.empathize_by?(current_user) %>
  <%= button_to  post_empathy_path(post.id), method: :delete do%>
    😤<%= post.empathies.count %>
  <% end %>
<% else %>
  <%= button_to post_empathy_path(post.id), method: :post do %>
    😤<%= post.empathies.count %>
  <% end %>
<% end %>
</td>
</tr>
</table>