<h3 class="page-header">一覧</h3>
<ul class="list-group" >
  <% @posts.each do |post| %>
    <ul class="list-group-item" style="list-style: none;">
      <li>
        <%= image_tag(post.image_url, width: 100) if post.image? %>
      </li>
      <li>
        <%= post.title%>
      </li>
      <li>
        <%= post.body.truncate(20)%>
        <%= link_to "詳しく読む",post_path(post.id) %>
        <!-- 共感ボタンを設置-->
        <td><%= render "posts/btn", post: post %></td>
      </li>
    </ul>
  <% end %>
</ul>

