<h3 class="page-header">一覧</h3>
<ul class="list-group" style="list-style: none;">
  <% @posts.each do |post| %>
  <li class="list-group-item">
    <span class="badge text-danger"><%= link_to "[削除]","#",method: :delete %></span>
    <li>
      <%= image_tag(post.image_url, width: 100) if post.image? %>
    </li>
    <li>
      <%= post.title%>
    </li>
    <li>
      <%= post.body.truncate(20)%>
      <%= link_to "詳しく読む",post_path(post.id) %>
    </li>
  </li>
  <% end %>
</ul>

