<h3 class="page-header">みんなの作品</h3>
<ul class="post-group">
  <% @posts.each do |post| %>
    <ul class="post-group-item">
      <div class="item-left">
        <li class="image">
          <div class="frame-image">
            <%= image_tag post.compose_image, class: "content-image", width: "195", height: "260" %>
          </div>
        </li>
      </div>
      <div class="item-right">
        <li class="title">
          <%="題名:" + post.title.truncate(15) %>
        </li>
        <li class="body">
          <%= post.body.truncate(1000) %>
          <%= link_to "詳しく読む", post_path(post.id) %>
        </li>
        <li class="button">
          <%= render "posts/btn", post: post %>
          <%= button_to "削除", post_path(post), method: :delete %>
        </li>
      </div>
    </ul>
  <% end %>
  <%= paginate @posts, theme: 'bootstrap-5' %>
</ul>
